@page
@model TVCaKoi.WebApp.Pages.PriceModel
@{
}
<style>
    .price small {
        font-size: 0.5em; /* Điều chỉnh kích thước nhỏ hơn */
        color: #f5f5f5; /* Màu xám rất sáng */
    }
</style>

<main style="background-color: #6f1111; border: none;">
    <div class="content" style="min-height: auto; background-color: #6f1111;">
        <!-- gói free -->
        <div class="pricing">
            <div class="pricing-item">
                <h2>Free</h2>
                <p class="price">$ 0 <small>/ tháng</small></p>
                <ul>
                    <li>2 bài đăng</li>
                    <li>Không có cam kết về thời gian</li>
                    <li>Thời gian hiển thị 2 ngày</li>
                    <li>Community Access</li>
                    <li>Unlimited Private Projects</li>
                    <li>Dedicated Phone Support</li>
                    <li>Free Subdomain</li>
                    <li>Chăm sóc hỗ trợ 24/7</li>
                </ul>
                <a href="dang-ky.html">Miễn Phí</a>
            </div>
            <!-- gói basic -->
            <div class="pricing-item">
                <h2>Basic</h2>
                <p class="price">$ 10 <small>/ tháng</small></p>
                <ul>
                    <li>15 bài đăng</li>
                    <li>Phản hồi trong vòng 24 giờ</li>
                    <li>Thời gian hiển thị 7 ngày</li>
                    <li>Community Access</li>
                    <li>Unlimited Private Projects</li>
                    <li>Dedicated Phone Support</li>
                    <li>Free Subdomain</li>
                    <li>Chăm sóc hỗ trợ 24/7</li>
                </ul>
                <a href="dang-ky.html">Mua Ngay</a>
            </div>
            <!-- gói pro -->
            <div class="pricing-item">
                <h2>Pro</h2>
                <p class="price">$ 15 <small>/ tháng</small></p>
                <ul>
                    <li>30 bài đăng</li>
                    <li>Phản hồi trong vòng 1-2 giờ.</li>
                    <li>Thời gian hiển thị 15 ngày</li>
                    <li>Community Access</li>
                    <li>Unlimited Private Projects</li>
                    <li>Dedicated Phone Support</li>
                    <li>Free Subdomain</li>
                    <li>Chăm sóc hỗ trợ 24/7</li>
                </ul>
                <a href="dang-ky.html">Mua Ngay</a>
            </div>
        </div>
</main>

