@page
@model TVCaKoi.WebApp.Pages.TinhToanMenhModel
@{
}

<main>
    <div class="content">
        <div class="head">
            <div class="left">
                <h1>Tính Toán Bản Mệnh</h1>
                <hr>
            </div>
        </div>
        <!-- Form tính toán -->
        <form id="koiForm">
            <label for="name">Họ và tên:</label>
            <input type="text" id="name" name="name" required>

            <label for="dob">Ngày tháng năm sinh:</label>
            <input type="date" id="dob" name="dob" required>

            <label for="sex">Giới tính:</label>
            <select id="sex" name="sex" required>
                <option value="nam">Nam</option>
                <option value="nu">Nữ</option>
            </select>

            <button type="button" onclick="tinhToan()">Tính Toán</button>
        </form>

        <!-- Hiển thị kết quả -->
        <div class="ketqua" id="ketqua">
            <table>
                <tr>
                    <td>Mệnh phù hợp của bạn:</td>
                    <td id="menh">Chưa xác định</td>
                </tr>
                <tr>
                    <td>Màu tương sinh:</td>
                    <td id="color">Chưa xác định</td>
                </tr>
                <tr>
                    <td>Màu tương hợp:</td>
                    <td id="color">Chưa xác định</td>
                </tr>
                <tr>
                    <td>Màu tương khắc:</td>
                    <td id="color">Chưa xác định</td>
                </tr>
                <tr>
                    <td>Cá koi phù hợp:</td>
                    <td id="ketQua"><a href="index.html" target="_blank" rel="noopener noreferrer">Xem chi tiết</a></td>
                </tr>
                <tr>
                    <td>Số lượng cá phù hợp:</td>
                    <td id="soluong">10</td>
                </tr>
                <tr>
                    <td>Vị trí hồ cá phù hợp:</td>
                    <td id="vitri">Tây Bắc</td>
                </tr>
            </table>
        </div>
    </div>
</main>


<script>
    function tinhToan() {
        // Hiển thị kết quả
        const ketqua = document.getElementById('ketqua');
        ketqua.style.display = 'block';
    }
</script>
