@page
@model TVCaKoi.WebApp.Pages.Admin.User.DeleteModel
@{
    ViewData["Title"] = "Xóa người dùng";
}

<div class="container mt-5 custom-shadow text-white bg-dark">
    <div class="card-header">
        <h2 class="mb-0">@ViewData["Title"]</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <!-- Trường ẩn để gửi ID của người dùng cần xóa -->
            <input type="hidden" name="itemid" value="@Model.Users.IdUser" />

            <div class="mb-3">
                <label asp-for="Users.IdUser" class="form-label fw-bold">Người Dùng ID:</label>
                <input asp-for="Users.IdUser" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="Users.NameUser" class="form-label fw-bold">Họ và Tên:</label>
                <input asp-for="Users.NameUser" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="Users.Username" class="form-label fw-bold">Tên Người Dùng:</label>
                <input asp-for="Users.Username" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="Users.PassUser" class="form-label fw-bold">Mật Khẩu:</label>
                <input asp-for="Users.PassUser" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="Users.Phone" class="form-label fw-bold">Số Điện Thoại</label>
                <input asp-for="Users.Phone" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="Users.Email" class="form-label fw-bold">Địa Chỉ Email</label>
                <input asp-for="Users.Email" class="form-control" readonly />
            </div>
            <div class="mb-3 custom-select-container">
                <label asp-for="Users.AccessUser" class="form-label fw-bold me-3">Quyền Truy Cập Tài Khoản:</label>
                <select asp-for="Users.AccessUser" disabled style="padding: 4px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; font-size: 15px; color: #333; cursor: not-allowed; appearance: auto; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); transition: border-color 0.3s ease, box-shadow 0.3s ease; position: relative; top: -4px; margin-right: 10px;">
                    <option value="none">Chọn</option>
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
            </div>

            <div class="d-flex justify-content-between">
                <input type="submit" value="Xóa tài khoản" class="btn btn-danger px-4 custom-btn" />
                <a class="btn btn-secondary px-4 custom-btn" asp-page="Index">Quay trở lại</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
